.login-page .el-input{
  width:83% !important;
}
.login-page .el-input__inner{
    
    background:none;
    color:#fff;
}
.login-page .el-form-item__label{
    color:#fff;
  }
.login-page  .el_from{
    position: absolute;
    top:0;
    left:-10px;
    }
.login-page .el-submenu__title{
    color: rgb(78, 91, 248);
  }
 .home .row-bg{
        background: none;
      }
.home .el-header{
    color:#fff;
  }
.home .el-main{
    background: #fff;;
  }

  .el-menu--collapse .el-submenu__title span {
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
    display: inline-block;
}
i.iconfont {
  color: #4e5bf8;
}
.el-menu--collapse .el-menu-item .el-submenu__icon-arrow, .el-menu--collapse .el-submenu .el-submenu__title .el-submenu__icon-arrow {
    display: none;
}
.el-menu-item-group .el-menu-item{
   padding:0 0 0 30px;

}

.el-menu-item-group .el-menu-item-group__title{
    padding:0
}

/* home--欢迎 */
        
.el-table__header-wrapper{
  line-height: 0;
}


#app .el-main{
  line-height: 50px;
  text-align: left;
}

.el-select{
 margin-top:20px;
  width:330px;
}

.el-form-item__content .captcha{
  width:40% !important;
  float: left !important;
}